* {
  margin: 0;
  padding: 0;
  
}

.top {
  background-color: orange;
}

.calendar {
  display: flex;
  /* flex-direction: row; */
  display: grid | inline-grid;
  background-color: black;
  padding: 10px;
  color: white;
  
}

.event {
  padding: 50px;
  margin: 10px;
  border: solid white 10px;
  background-color: grey;
  border-radius: 80px;
  height: 300px;
  max-width: 90px;

}
/* 
.event2 {
  padding: 50px;
  margin: 10px;
  border: solid white 10px;
  background-color: grey;
  border-radius: 80px;
  height: 300px;
  max-width: 90px;

}

.event3 {
  padding: 50px;
  margin: 10px;
  border: solid white 10px;
  background-color: grey;
  border-radius: 80px;
  height: 300px;
  max-width: 90px;

} */
