* {
  margin: 0;
  padding: 0;
  
}

.top {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  grid-row: 1;
  text-align: center;
  gap: 10px;
}

.ad {
  /* border: solid 1px; */
  border-radius: 80px;
  margin: 40px;
  max-width: 180px;
}

#ad {
  border-radius: 50%;
}

.calendar {
  background-color: black;
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.event {
  padding: 50px;
  margin: 10px;
  border: solid white 10px;
  background-color: grey;
  border-radius: 80px;
  height: 300px;
  max-width: 140px;
  text-align: center;
}
